<template>
  <div id="app">
    <div class="container mx-auto bg-white px-10 rounded shadow">
      <div class="flex flex-col lg:flex-row items-center justify-center lg:justify-left pt-8">
        <h1 class="text-blue-900 text-base py-5 font-semibold sm:text-xl lg:text-3xl xl:text-4xl lg:flex-grow">How To Find Your Personal Preference Ratio – “PPR”</h1>
      </div>
      <p>Experiment to find your PPR. Start with a volume of water, say 6 ounces. Pour a known volume of Whiskey, say 2 ounces into a graduated cylinder.  Add small amounts of Whiskey to the water until you like the taste. Look at the cylinder and note how much Whiskey you have blended with the water.</p>
      <p>The formula to determine your personal preference ratio is: Amount of Whiskey / (Amount of Water + Amount of Whiskey) x Bottle Proof</p>
      <div class="w-full max-w-lg py-8">
        <div class="flex flex-wrap -mx-3">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-blue-900 text-xs font-bold mb-2" for="unit_of_measure">
              Unit of Measure
            </label>
            <div class="relative">
              <select v-model.number="$v.unit_of_measure.$model" id="unit_of_measure" name="unit_of_measure" :class="{ 'border-red-500': $v.unit_of_measure.$error }" @change="changeUnitOfMeasure($event.target.value)">
                <option value="fl oz" :selected="$v.unit_of_measure.$model === 'fl oz'">Fluid Ounces</option>
                <option value="ml" :selected="$v.unit_of_measure.$model === 'ml'">Millileters</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
            <p v-if="$v.unit_of_measure.$dirty && ! $v.unit_of_measure.required" class="text-red-600 text-xs italic">Field is required</p>
          </div>
        </div>
      </div>
      <form class="w-full max-w-lg py-5" @submit.prevent="calculateDesiredProof">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-blue-900 text-xs font-bold mb-2" for="dp_whiskey">
              Amount of Whiskey ({{ unit_of_measure }})
            </label>
            <input type="number" v-model.number="$v.dp_whiskey.$model" value="" id="dp_whiskey" name="dp_whiskey" :min="unitOfMeasureMinValue" :max="unitOfMeasureMaxValue" step="1" placeholder="0" @focus="selectText" :class="{ 'border-red-500': $v.dp_whiskey.$error }">
            <p v-if="$v.dp_whiskey.$dirty && ! $v.dp_whiskey.required" class="text-red-600 text-xs italic">Field is required</p>
            <p v-if="$v.dp_whiskey.$dirty && ! $v.dp_whiskey.decimal" class="text-red-600 text-xs italic">Value must be numeric</p>
            <p v-if="$v.dp_whiskey.$dirty && ! $v.dp_whiskey.minValue" class="text-red-600 text-xs italic">Value must be greater than or equal to {{ unitOfMeasureMinValue }}</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-blue-900 text-xs font-bold mb-2" for="dp_water">
              Amount of Water ({{ unit_of_measure }})
            </label>
            <input type="number" v-model.number="$v.dp_water.$model" id="dp_water" name="dp_water" :min="unitOfMeasureMinValue" :max="unitOfMeasureMaxValue" step="1" placeholder="0" @focus="selectText" :class="{ 'border-red-500': $v.dp_water.$error }">
            <p v-if="$v.dp_water.$dirty && ! $v.dp_water.required" class="text-red-600 text-xs italic">Field is required</p>
            <p v-if="$v.dp_water.$dirty && ! $v.dp_water.decimal" class="text-red-600 text-xs italic">Value must be numeric</p>
            <p v-if="$v.dp_water.$dirty && ! $v.dp_water.minValue" class="text-red-600 text-xs italic">Value must be greater than or equal to {{ unitOfMeasureMinValue }}</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-blue-900 text-xs font-bold mb-2" for="dp_bottle_proof">
              Bottle Proof
            </label>
            <input type="number" v-model.number="$v.dp_bottle_proof.$model" id="dp_bottle_proof" name="dp_bottle_proof" min="70" max="150" step="1" placeholder="100" @focus="selectText" :class="{ 'border-red-500': $v.dp_bottle_proof.$error }">
            <p v-if="$v.dp_bottle_proof.$dirty && ! $v.dp_bottle_proof.required" class="text-red-600 text-xs italic">Field is required</p>
            <p v-if="$v.dp_bottle_proof.$dirty && ! $v.dp_bottle_proof.numeric" class="text-red-600 text-xs italic">Value must be numeric</p>
            <p v-if="$v.dp_bottle_proof.$dirty && ! $v.dp_bottle_proof.minValue" class="text-red-600 text-xs italic">Value must be greater than or equal to 70</p>
            <p v-if="$v.dp_bottle_proof.$dirty && ! $v.dp_bottle_proof.maxValue" class="text-red-600 text-xs italic">Value must be less than or equal to 150</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <button type="submit">
              Calculate
            </button>
          </div>
        </div>
        <div v-if="dp_desired_proof" class="flex flex-wrap -mx-3">
          <div class="w-full px-3">
            <p class="block uppercase tracking-wide text-blue-900 text-xs font-bold mb-2" for="grid-password">
              Desired Proof
            </p>
            <p class="text-blue-900 text-base font-light text-4xl mt-0 mb-3 leading-tight" v-html="displayDesiredProof"></p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3">
          <div class="w-full px-3">
            <button type="button" @click="carryValuesToWhiskeyToAdd">
              Use Values Below
            </button>
          </div>
        </div>
      </form>
      <p>Once you know your personal preference ratio, this calculator will tell you exactly how much whiskey to add to any amount of water to reach it.</p>
      <form class="w-full max-w-lg py-5" @submit.prevent="calculateWhiskeyToAdd">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-blue-900 text-xs font-bold mb-2" for="wta_water">
              Amount of Water ({{ unit_of_measure }})
            </label>
            <input type="number" v-model.number="$v.wta_water.$model" id="wta_water" name="wta_water" :min="unitOfMeasureMinValue" :max="unitOfMeasureMaxValue" step="1" placeholder="0" @focus="selectText" :class="{ 'border-red-500': $v.wta_water.$error }">
            <p v-if="$v.wta_water.$dirty && ! $v.wta_water.required" class="text-red-600 text-xs italic">Field is required</p>
            <p v-if="$v.wta_water.$dirty && ! $v.wta_water.decimal" class="text-red-600 text-xs italic">Value must be decimal</p>
            <p v-if="$v.wta_water.$dirty && ! $v.wta_water.minValue" class="text-red-600 text-xs italic">Value must be greater than or equal to {{ unitOfMeasureMinValue }}</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-blue-900 text-xs font-bold mb-2" for="wta_bottle_proof">
              Bottle Proof
            </label>
            <input type="number" v-model.number="$v.wta_bottle_proof.$model" id="wta_bottle_proof" name="wta_bottle_proof" min="70" max="150" step="1" placeholder="100" @focus="selectText" :class="{ 'border-red-500': $v.wta_bottle_proof.$error }">
            <p v-if="$v.wta_bottle_proof.$dirty && ! $v.wta_bottle_proof.required" class="text-red-600 text-xs italic">Field is required</p>
            <p v-if="$v.wta_bottle_proof.$dirty && ! $v.wta_bottle_proof.numeric" class="text-red-600 text-xs italic">Value must be numeric</p>
            <p v-if="$v.wta_bottle_proof.$dirty && ! $v.wta_bottle_proof.minValue" class="text-red-600 text-xs italic">Value must be greater than or equal to 70</p>
            <p v-if="$v.wta_bottle_proof.$dirty && ! $v.wta_bottle_proof.maxValue" class="text-red-600 text-xs italic">Value must be less than or equal to 150</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-blue-900 text-xs font-bold mb-2" for="wta_desired_proof" @focus="selectText">
              Desired Proof
            </label>
            <input type="number" v-model.number="$v.wta_desired_proof.$model" id="wta_desired_proof" name="wta_desired_proof" min="0" :max="$v.wta_bottle_proof.$model - 1" step="1" placeholder="100" @focus="selectText" :class="{ 'border-red-500': $v.wta_desired_proof.$error }">
            <p v-if="$v.wta_desired_proof.$dirty && ! $v.wta_desired_proof.required" class="text-red-600 text-xs italic">Field is required</p>
            <p v-if="$v.wta_desired_proof.$dirty && ! $v.wta_desired_proof.numeric" class="text-red-600 text-xs italic">Value must be numeric</p>
            <p v-if="$v.wta_desired_proof.$dirty && ! $v.wta_desired_proof.minValue" class="text-red-600 text-xs italic">Value must be greater than or equal to 0</p>
            <p v-if="$v.wta_desired_proof.$dirty && ! $v.wta_desired_proof.maxValue" class="text-red-600 text-xs italic">Value must be less than or equal to 150</p>
            <p v-if="$v.wta_desired_proof.$dirty && ! $v.wta_desired_proof.bottleProofGreaterThan" class="text-red-600 text-xs italic">Value must be less than bottle proof</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <button type="submit">
              Calculate
            </button>
          </div>
        </div>
        <div v-if="wta_whiskey_to_add" class="flex flex-wrap -mx-3">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-blue-900 text-xs font-bold mb-2" for="wta_whiskey_to_add">
              Amount of Whiskey to Add
            </label>
            <p class="text-blue-900 text-base font-light text-4xl mt-0 mb-3 leading-tight" v-html="displayWhiskeyToAdd"></p>
          </div>
        </div>
      </form>
    </div>
    <p class="text-sm text-center py-8">Created by <a href="mailto:tgfisher@gmail.com">Travis Fisher</a></p>
  </div>
</template>

<script>

import { required, decimal, numeric, minValue, maxValue } from 'vuelidate/lib/validators'

const bottleProofGreaterThan = function (value, vm) {
  return vm.wta_bottle_proof - 1 >= value
}

export default {
  name: 'App',
  data: function () {
    return {
      unit_of_measure: 'fl oz',
      dp_whiskey: 0.00,
      dp_water: 0.00,
      dp_bottle_proof: 0,
      dp_desired_proof: 0,
      wta_water: 0.00,
      wta_bottle_proof: 0.00,
      wta_desired_proof: 0,
      wta_whiskey_to_add: 0,
      desiredProofProperties: [
        'dp_whiskey',
        'dp_water',
        'dp_bottle_proof',
      ],
      whiskeyToAddProperties: [
        'wta_water',
        'wta_bottle_proof',
        'wta_desired_proof',
      ],
      unitOfMeasureProperties: [
        'dp_whiskey',
        'dp_water',
        'wta_water',
        'wta_whiskey_to_add',
      ]
    }
  },
  validations: function () {
    return {
      unit_of_measure: {
        required,
      },
      dp_whiskey: {
        required,
        decimal,
        minValue: minValue(this.unitOfMeasureMinValue),
        maxValue: maxValue(this.unitOfMeasureMaxValue)
      },
      dp_water: {
        required,
        decimal,
        minValue: minValue(this.unitOfMeasureMinValue),
        maxValue: maxValue(this.unitOfMeasureMaxValue)
      },
      dp_bottle_proof: {
        required,
        numeric,
        minValue: minValue(70),
        maxValue: maxValue(150)
      },
      dp_desired_proof: {
      },
      wta_water: {
        required,
        decimal,
        minValue: minValue(this.unitOfMeasureMinValue),
        maxValue: maxValue(this.unitOfMeasureMaxValue)
      },
      wta_bottle_proof: {
        required,
        numeric,
        minValue: minValue(70),
        maxValue: maxValue(150)
      },
      wta_desired_proof: {
        required,
        numeric,
        minValue: minValue(0),
        maxValue: maxValue(150),
        bottleProofGreaterThan
      },
      wta_whiskey_to_add: {
      }
    }
  },
  computed: {
    unitOfMeasureMinValue () {
      return this.unit_of_measure === 'fl oz' ? 1 : 30
    },
    unitOfMeasureMaxValue () {
      return this.unit_of_measure === 'fl oz' ? 20 : 600
    },
    displayDesiredProof () {
      return (this.dp_desired_proof) ? `${ this.dp_desired_proof }` : '&nbsp;'
    },
    displayWhiskeyToAdd () {
      return (this.wta_whiskey_to_add) ? `${ this.wta_whiskey_to_add } ${ this.unit_of_measure }` : '&nbsp;'
    }
  },
  methods: {
    selectText (e) {
      e.target.select()
    },
    changeUnitOfMeasure (value) {
      this.unitOfMeasureProperties.forEach((field) => this[field] = Math.round((value === 'fl oz') ? this[field] / 29.5735296 : this[field] *  29.5735296))
    },
    isValid (properties) {
      return properties.reduce((isValid, property) => {
        this.$v[property].$touch()
        console.log(property, this.$v[property].$error)
        return isValid && ! this.$v[property].$error
      }, true)
    },
    carryValuesToWhiskeyToAdd () {
      this.wta_bottle_proof = this.dp_bottle_proof
      this.wta_desired_proof = this.dp_desired_proof
    },
    calculateDesiredProof () {
      if (this.isValid(this.desiredProofProperties)) {
        this.dp_desired_proof = Math.round(this.dp_whiskey / (this.dp_water + this.dp_whiskey) * this.dp_bottle_proof)
      }
    },
    calculateWhiskeyToAdd () {
      if (this.isValid(this.whiskeyToAddProperties)) {
        console
        this.wta_whiskey_to_add = Math.round(this.wta_water / ((this.wta_bottle_proof / this.wta_desired_proof) - 1))
      }
    }
  }
}
</script>

<style lang="scss">
@import './styles/app'
</style>