/* purgecss start ignore */
html {
  @apply bg-gray-200;
  @apply font-display;
  @apply text-gray-700;
  @apply antialiased;
  @apply leading-loose;
}
/* purgecss end ignore */

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

a {
  @apply text-blue-800 underline;
}

p {
  @apply my-4;
}

input,
select {
  @apply appearance-none;
  @apply block;
  @apply shadow-md;
  @apply bg-gray-100;
  @apply text-gray-700;
  @apply border;
  @apply border-gray-400;
  @apply rounded;
  @apply w-32;
  @apply py-3;
  @apply px-4;
  @apply mb-3;
  @apply leading-tight;
  @apply text-center;
  &:focus {
    @apply outline-none;
    @apply bg-white;
    @apply border-gray-500;
  }
  &:read-only {
    &:focus {
      @apply border-gray-200;
      @apply bg-gray-200;
      @apply text-gray-700;
    }
  }
}

select {
  @apply w-full;
  @apply text-left;
  @apply pr-8;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  @apply appearance-none;
  @apply m-0;
}



button {
  @apply shadow-md;
  @apply border;
  @apply border-gray-500;
  @apply bg-gray-400;
  @apply text-gray-700;
  @apply font-bold;
  @apply py-2;
  @apply px-4;
  @apply rounded;
  &:hover {
    @apply bg-gray-300;
    @apply border-gray-400;
  }
  &:focus {
    @apply outline-none;
  }
}
